.title {
  color: rgb(95, 0, 69);
}

#reg_calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calc_result {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}

#result_div {
  width:50%
}

.operations {
  display: flex;
  gap: 10px;
}

.input-error {
  color: rgb(255, 255, 255);
  background-color: rgb(176, 5, 5);
  display: inline;
  text-shadow: 0.5px 0.5px 0.5px #000;
  white-space: pre-wrap;
  padding: 5px;
}

#pyt_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pyt_container {
  display: flex;
  gap: 0;
}

#pyt_calc,
.image {
  width: 100%;
  height: 350px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  margin-bottom: 100px;
  max-height: 100%;
  max-width: 100%;
}

.side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;
    */
}

.side-name {
  font-size: 18px;
  width: 200px;
  overflow-wrap: break-word;
  text-align: right;
}

#pyt_calc {
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.side {
    margin-right: 10px;
    margin-left: 10px;
}
